@model List<InventoryWebsite.Models.Product>

<h1>List of Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Capacity</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>@product.Capacity</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddProduct" class=" btn btn-primary">Add Product </a>